body{
    font-family: "Roboto",sans-serif;
    scroll-behavior: smooth;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6));
}
.card{
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: translate(-10px);
}
.navbar-brand{
    font-weight: bold;
}

section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill-circle{
    width: 100px;
    height: 100px;
    background-color: #e8bf2dd8;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}
footer{
    background-color: #343434;
}